.historyHandler{
    /* background-image: linear-gradient(180deg, rgb(35, 114, 225), rgb(59, 221, 249));     */
    background-color: #f7f7f7;
}

.box{
    margin:0 10px;
    padding: 10px 0 40px 0px
}

.box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.5s linear;
    top:0
}


.box ul:before{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px dashed rgb(24, 7, 7);
    position: absolute;
    top:0;
    left:10px
}

/* text */
/* box */
.box ul li{
    margin: 20px 40px 40px;
    position: relative;
    padding: 10px 20px;
    background:rgba(208, 204, 224, 0.3);
    color:rgb(10, 9, 12);
    border-radius: 10px;
    line-height: 20px;
    width: auto;
}

/* line */
.box ul li > span{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px solid rgb(221, 19, 19);
    position: absolute;
    top:0;
    left:-30px
}

.box ul li > span:before,.box ul li > span:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#6d96ff;
    border:2px solid rgb(255, 255, 255);
    position: absolute;
    left:-5.5px
}

.box ul li > span:before{top:-10px}
.box ul li > span:after{top:95%}

.box .title{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px
}

.box .info:first-letter{text-transform: capitalize;line-height: 1.7}

.box .info{
    text-align: justify;
}

.box .name{
    margin-top: 10px;
    text-transform: capitalize;
    font-style: italic;
    text-align: right;
    margin-right: 20px
}


.box .time span{
    position: absolute;
    left: -100px;
    color:#fff;
    font-size:80%;
    font-weight: bold;
}
.box .time span:first-child{top:-16px}
.box .time span:last-child{top:94%}


.bg img{
    width: 100%;
    margin-top: 5px;
  }


@media (max-width: 600px){
    .box ul:before{left: -10px}
    .box ul li{margin: 20px 20px 30px;}
}